
<%= link_to public_article_show_path(article_card.slug) do %>
  <article class="group bg-card rounded-2xl overflow-hidden border border-theme transition-all duration-300 hover:transform hover:scale-105 hover:shadow-2xl hover:shadow-purple/20">
    <div class="h-48 bg-card flex items-center justify-center">
      <span class="text-6xl opacity-40">
          <% if article_card.image.attached? %>
              <%= image_tag article_card.image, 
                  alt: article_card.title, 
                  class: "w-100 h-100 object-fit-cover",
                  style: "object-fit: cover;" %>
            <% else %>
            NO IMAGE
            <% end %>
      </span>
    </div>
    <div class="p-6">
      <div class="flex gap-2 mb-3">
        <% article_card.categories.each do |category| %>
           <span class="px-3 py-1 text-xs rounded-full category-badge <%= 'category-color-' + (category.id % 5 + 1).to_s %>">
            <%= category.name %>
          </span>
        <% end %>
      </div>
      <h4 class="font-bold text-lg mb-2 group-hover:text-purple transition-colors"><%= truncate(article_card.title, length: 28) %></h4>
        <p class="text-secondary text-sm mb-4">
        <%= truncate(strip_tags(article_card.description), length: 100) %>
      </p>

      <div class="flex items-center text-xs text-secondary">
        <span><%= article_card.user.name %></span>
        <span class="mx-2">•</span>
        <span><%= time_ago(article_card.created_at) %></span>
      </div>
    </div>
  </article>
<% end %>

